.profile {
  background-color: #ffffff;
  margin-left: 10% !important;
  width: 192%;
  border-radius: 32px;
  margin: 3%;
  padding: 25px;
}
.profile_box {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.profile1box {
  display: flex;
}
.profile2box {
  display: flex;
  flex-direction: column;
}
.profile_textarea {
  border: 1px solid #707070;
  min-height: 100px;
  width: 96%;
  margin-bottom: 2%;
}
/* change password popup  */
.change_password_heading {
  font-size: 20px;
  color: #606060;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.cnfpwd_update_button {
  width: 85px;
  height: 30px;
  background-color: #e6592b;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 5px;
}
.cnfpwd_cancel_button {
  width: 85px;
  height: 30px;
  background-color: transparent;
  color: #e6592b;
  border-radius: 5px;
  border: 1px solid #e6592b;
}
.chnge_pwd_button {
  width: 105px;
  height: 30px;
  background-color: transparent;
  color: #e6592b;
  border-radius: 5px;
  border: 1px solid #e6592b;
}
/* profile_pic */
.profile_page_pic {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 1px solid rgb(244, 241, 241);
}
.upload_new_image_label {
  padding-left: 10%;
  padding-top: 5%;
}
